 @import "tailwindcss";
 @plugin "daisyui";


/* button */
   .button {
    width: 200px;
    height: 50px;
    border: 3px solid #7c3aed;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
  }

  .button:hover {
    background:linear-gradient(135deg, #7c3aed, #3b82f6);
    color: white;
    font-size: 1.5em;
  }